html, body {
    height: 100%;
}

body {
    overflow: hidden;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

a, a:active, a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

#map { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -200px;
    height: 100%;
    z-index: 0;
}

#tracker {
    font-size: 20px;
}

#rankingsTable {
    position: fixed;
    bottom: 5%;
    left: 0px;
    width: 15%;
    font-size: 12px;
}

.tableRank, .tableTeam {
    background-color: rgba(200, 200, 200, 0);
    padding-right: 2px;
}

.tableRank {
    text-align: right;
    width: 10%;
}

.tableTeam {
    padding-left: 5px;
}

.downranked, .upranked, .sameranked, .unranked {
    font-size: 10px;   
}

.downranked {
    color : #CC0000;

}
.upranked {
    color : #006600;
}

.unranked {
    color : #000000;
}


#seasonTracker, #weekTracker {
    position: fixed;
    left: 15%;
    height: 25px;
    text-align: center;
    width: 75%;
}

#seasonTracker {
    bottom: 75px;
}

#weekTracker {
    bottom: 30px;
}

.season, .week {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 1px;
    line-height: 2em;
}

.week {
    padding: 3px;
    width: 3%;
    font-size: 100%;
}

.season {
    padding: 1px;
    width: 4%;
    font-size: 70%;
}


.incrementDecrement, .incrementDecrement a {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 0, 0, 0.75);
    font-size: 24px;
    width: 15px;
}

.seasonActive, .weekActive {
    background-color: rgba(255, 0, 0, 0.75);
}

#grayOut {
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
    
#splashScreen {
    position: fixed;
    top: 15%;
    left: 15%;
    right: 15%;
    border: 10px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 1);
    z-index: 101;
}

#splashText {
    text-align: center;
    font-size: 26px;
    margin: 5%;
}

#splashText a {
    color: rgba(255, 0, 0, 0.75);
}

#logoPreLoad {
    display: none;
}

#credit {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    padding: 3px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
}

#tweet {
    position: fixed;
    top: 1%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    padding: 3px;
}
